.maps-main-body,
.fullscreen {
  height: var(--maps-body-height);
  width: 100%;
  position: relative;
}

.gmap {
  height: var(--maps-body-height);
  width: 100%;
}

.loading {
  height: var(--maps-body-height);
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  left: 0;
  justify-content: center;
  align-items: center;
}

.maps-body-gmap {
  height: var(--maps-body-height);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.maps-body {
  width: 100%;
  position: relative;
}

.column img {
  float: left;
  margin: 5px;
  width: 50%;
}

.row1 {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.analytics-form-overlay {
  padding: 20px;
  border: solid 4px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.overlay-confirmation-close {
  cursor: pointer;
  position: absolute;
  offset: 5px;
  right: 5px;
  top: 5px;
}

.analytics-form-overlay-confirmation {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.analytics-form-overlay-confirmation button {
  padding: 10px 30px;
  margin: 10px;
  border-radius: 10px;
}

.not-valid-form-select {
  min-width: 200px;
  color: black;
  margin: 20px 0px;
}

.analytics-form-overlay #submitbtn {
  background: #2f4ad0;
  margin: 5px 0;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 8px 6px -6px #555;
}

.row p {
  text-transform: none;
  font-size: small;
}

.complaincard-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.complaincard-card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  width: 30%;
  margin: 10px 0;
  flex-direction: column;
  position: relative;
}

@media (max-width: 700px) {
  .complaincard-card {
    font-size: x-small;
  }
}

@media (max-width: 500px) {
  .complaincard-card {
    width: 45%;
  }
}

.complaincard-card-image-main {
  width: 100%;
}

.complaincard-card-image {
  max-height: 200px;
  overflow: hidden;
  border-radius: 20px;
  object-fit: cover;
  object-position: 25% 25%;
  max-height: 200px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.complaincard-openinfull {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.534);
  border-radius: 10px;
  right: 15px;
  top: 15px;
}

.complaindetailoverlay-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  position: relative;
}

.complaindetailoverlay-body {
  background-color: white;
  padding: 10px;
  margin: 10px;
  color: black;
  border-radius: 20px;
}

/* fullscreen maps start */

.fullscreen {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullscreen-map {
  height: 100vh;
  width: 100%;
  max-width: none;
}

.main-map-overlay {
  position: initial;
  height: calc(var(--maps-body-height) - 90px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.left-panel-main-parent {
  position: initial;
  height: 90%;
  z-index: 5;
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
}

.right-panel-main-parent {
  position: relative;
  transition: all 0.7s ease;
  align-items: center;
  height: 90%;
  z-index: 5;
  width: var(--right-panel-width);
}

.MuiDateRangeCalendar-root > div:nth-child(1) {
  display: none;
}

/* fullscreen maps end */

:root {
  --default-maps-body-height: calc(100vh - 64px);
  --maps-body-height: var(--default-maps-body-height);
  --right-panel-width: 30%;
}